In [24]:
from pandas import DataFrame
import pandas

Problem: Create a dataframe from a dict?

In [15]:
DataFrame({'Leeming': {'2020-01-01':12.4}, 'Linton': {'2020-01-01': 12.0}})

            Leeming  Linton
2020-01-01     12.4    12.0

Problem: Create an iterable of dates:
ref https://stackoverflow.com/questions/993358/creating-a-range-of-dates-in-python

In [35]:
from datetime import datetime as dt
from random import choice

In [27]:
daterange = pandas.date_range('19700101', '20200101')

DatetimeIndex(['1970-01-01', '1970-01-02', '1970-01-03', '1970-01-04',
               '1970-01-05', '1970-01-06', '1970-01-07', '1970-01-08',
               '1970-01-09', '1970-01-10',
               ...
               '2019-12-23', '2019-12-24', '2019-12-25', '2019-12-26',
               '2019-12-27', '2019-12-28', '2019-12-29', '2019-12-30',
               '2019-12-31', '2020-01-01'],
              dtype='datetime64[ns]', length=18263, freq='D')

In [36]:
stations = ['Leeming', 'Linton', 'Church Fenton']

alldata = {}
for station in stations:
    alldata[station] = {}
    for date in pandas.date_range('19700101', '19700103'):
        print(f'we can now do something practical with date {date} and station {station}')
        datum = choice([1, 2, 3, 4, 5, 6])  # Replace with real function
        alldata[station][date] = datum
alldata

we can now do something practical with date 1970-01-01 00:00:00 and station Leeming
we can now do something practical with date 1970-01-02 00:00:00 and station Leeming
we can now do something practical with date 1970-01-03 00:00:00 and station Leeming
we can now do something practical with date 1970-01-01 00:00:00 and station Linton
we can now do something practical with date 1970-01-02 00:00:00 and station Linton
we can now do something practical with date 1970-01-03 00:00:00 and station Linton
we can now do something practical with date 1970-01-01 00:00:00 and station Church Fenton
we can now do something practical with date 1970-01-02 00:00:00 and station Church Fenton
we can now do something practical with date 1970-01-03 00:00:00 and station Church Fenton

{'Leeming': {Timestamp('1970-01-01 00:00:00', freq='D'): 1,
  Timestamp('1970-01-02 00:00:00', freq='D'): 6,
  Timestamp('1970-01-03 00:00:00', freq='D'): 1},
 'Linton': {Timestamp('1970-01-01 00:00:00', freq='D'): 1,
  Timestamp('1970-01-02 00:00:00', freq='D'): 2,
  Timestamp('1970-01-03 00:00:00', freq='D'): 6},
 'Church Fenton': {Timestamp('1970-01-01 00:00:00', freq='D'): 4,
  Timestamp('1970-01-02 00:00:00', freq='D'): 5,
  Timestamp('1970-01-03 00:00:00', freq='D'): 6}}

In [37]:
DataFrame(alldata)

            Leeming  Linton  Church Fenton
1970-01-01        1       1              4
1970-01-02        6       2              5
1970-01-03        1       6              6